<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Mail Reminder</title>
    <meta name="viewport" content="width=device-width;initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    {{{body}}}

    <script>
        // prevent for resubmission
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>

</html>