<main>
  <section>
    <h1 class="heading">Mail Reminder</h1>
    <p>Maybe, you can provide us your details, so we can remind you.</p>

    <form action="/" method="POST">
      <div>
        <label for="email">Your Email Address</label>
        <input id="email" name="email" required type="email" placeholder="username@domain.com" />
      </div>
      <div>
        <label for="message">Your Message</label>
        <textarea id="message" name="message" required
          placeholder="The message you want to receive via email."></textarea>
      </div>
      <div>
        <label for="date">Select Message Receiving Date</label>
        <input id="date" name="date" required type="date" />
      </div>

      <button type="submit">Schedule now.</button>
    </form>
  </section>

  {{#if result}}
  <section>
    <h2 class="heading">Result</h2>
    <p class="message">{{result}}.</p>
    <p class="message">To cancel the scheduled email, please visit: <a href="/cancel">Cancel Page</a></p>
  </section>
  {{/if}}

  {{#if error}}
  <section>
    <h2 class="heading">Error Occured!</h2>
    <p class="message">{{error}}</p>
  </section>
  {{/if}}

  <section>
    <h1 class="heading">Extra Info</h1>
    <p>if you want to cancel a scheduled email, then please visit <a href="/cancel">Cancel your scheduled email</a>
    </p>
    <p>This project is for educational purposes only! <a target="_blank"
        href="https://github.com/devjayantmalik">Developed by Jayant Malik</a>. We are not on paid plan, so our app will
      sleep after every 5 minutes if you do not use it. Please co-operate.</p>
    <p>If you are interested in this project, you can ask us for realtime production app at: <a
        href="mailto:dev.jayantmalik@gmail.com">dev.jayantmalik@gmail.com</a></p>
  </section>

</main>
</body>

</html>